:root{
    --cor-principal: #039aa5;
    --cor-secundaria : #064968;
    --cor-terciaria : #f6f6f6;
    --cor-botao: #6e6e6e;
    font-family: "QuickSand";    
}

*{
    margin: 0;
    padding: 0;
}


.botao{
    border: 200px; 
    font-size: 16pt; 
    cursor: pointer;
    opacity: 1;
}

.botao:hover{
    opacity: 0.8;
}

.input{
    padding: 5px 0px;
    border-color: #cac8c8;
    outline: none;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    padding-left: 20px;

}

/* ------------ Pagina de Login / Cadastro ---------------*/

.campo-formulario{
    width: 35%;
    height: 100vh;
    background-color: var(--cor-principal);
    color: var(--cor-terciaria);
    float: left;  
    font-size: 16pt;
}

.campo-logo{
    margin-left: 10%;
    width: 55%;
    height: 100vh;
    float: left;
    color: var(--cor-secundaria);
    font-size: 35pt;
    font-weight: bold;
}

.campo-logo__imagem{
    color: var(--cor-secundaria);
    padding-bottom: 30px;
    border-bottom: solid 5px;
    width: 500px;
    margin-top: 15%;
}

.campo-formulario__input{
    border: none;
    background: transparent;
    border-bottom: solid 1px var(--cor-terciaria);
    outline: none;
    color: var(--cor-terciaria);
    padding-left: 20px;
    padding: 5px 0px;
    margin: 20px 0;
}

.campo-formulario__input::placeholder{
    font-size: 14pt;
    opacity: 0.5;
    font-family:'Quicksan';
    color: var(--cor-terciaria);
    padding-left: 20px;
}

.campo-formulario__dados{
    margin: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.campo-formulario__area-input{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 100px 0 20px 0;
}

#esqueceu-senha{
    text-decoration: none;
    color: var(--cor-terciaria);
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.campo-formulario__botao{
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
    margin-top: 80px;
    width: 450px;
    padding: 20px 0px; 
    border-radius: 16px;

}





/* --------Modal de inserção de Email----------- */

.modal-email{
    background-color: var(--cor-terciaria);
    margin:auto;
    width: 350px;
    height: 523px;
    border-radius: 4px;
    border: none;
    font-size: 12pt;
    
}

.modal-email__botao{
    margin-top: 40px;
    background-color:  var(--cor-secundaria);
    color: var(--cor-terciaria);
    width: 80%;
    border-radius: 10px; 
    padding: 10px 0px; 
}

.modal-email__input{
    width: 80%;
    height: 40px;
    align-self: center;
}

.modal-email__conteudo{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 15px;
    gap: 20px;

}
.modal-email__fechar{
    max-width: 20px;
    max-height: 20px;
    align-self: flex-end;
}

.modal-email__imagem-principal{
    width: 125px;
    height: 140px;
}








/* ----------------Main Page------------------- */



.cabecalho{
    background-color: var(--cor-principal);
    padding: 0px 60px;
}

#cabecalho__usuario{
    margin-top: 5px;
    display: flex;
    gap: 10px;
    float: right;
}

#foto-colaborador{
    width: 60px;
    height: 60px;
}

#seta-menu{
    align-self: center;
    width: 12px;
    height: 10px;
}

.pagina-principal{
    display: flex;
    flex-direction: column;

}

.pagina-principal__botao{
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
    width: 200px;
    border-radius: 16px;
    font-size: 12pt; 
    padding: 20px 0px; 
}

.pagina-principal__area-botoes{
    margin: 40px 80px;
    display: flex;
    align-self: flex-end;
    gap: 40px;
}

.pagina-principal__pesquisa{
    display: flex;
    align-self: center;
    margin-top: 70px;
    width: 70%;
    height: 40%;
    gap: 20px;
}

#pagina-principal__background-pesquisa{
    width: inherit;
    height: inherit;
    z-index: -1;
    position: absolute;
}

#pagina-principal__pesquisas{
    display: flex;
    margin-left: 200px;
    gap: 40px;
    margin-top: 280px;
    width: 80%;

}
.pagina-principal__input{
    width: 40%;
    height: 30px;
}

/*  --------------Modal Contato------------- */
.modal-contato{
    margin: auto;
    padding: 30px;
    width: 900px;
    height: 320px;
    
}

.modal-contato__conteudo{
    display: flex;
    gap: 30px;

}

.modal-contato__input{
    width: 635px;
    height: 40px;
}

.modal-contato__formulario{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.modal-contato_adicionar-foto{
    width: 148px;
    height: 148px;
}

.modal-contato__area-botoes{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    margin-top: 20px;
}
#modal-contato__botao-cancelar{
    width: 30%;
    background-color: var(--cor-botao);
    color: var(--cor-terciaria);
    font-size: 12t;
    border-radius: 10px; 
    padding: 15px 30px;
}

#modal-contato__botao-add{
    width: 30%;
    background-color: var(--cor-principal);
    color: var(--cor-terciaria);
    font-size: 12pt;
    border-radius: 10px; 
    padding: 15px 30px;
}

#modal-contato__botao-salvar{
    width: 40%;
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
    font-size: 12pt;
    border-radius: 10px; 
    padding: 15px 30px;
}

#nome{
    width: 94%;
}

#unidade{
    width: 35%;
}
#ramal{
    width: 12%;
    
}
#email{
    width: 35%;
}

#numero{
    width: 50%;
}
