*{
    margin: 0;
    font-family: "QuickSand";
}

.coluna_esquerda{
    width: 65%;
    height: 100vh;
    float: left;
}
.coluna_direita{
    width: 35%;
    height: 100vh;
    background-color: #069258;
    color: white;
    float: left;
    text-align: center;
}
.area_logo{
    padding-top: 150px;
    padding-left: 200px;
    color: #069258;
    font-size: 30pt;
    font-weight: bold;

}
.linha_verde{
    color: #069258;
    width: 470px;
    border-bottom: solid 4px;
    margin-top: 20px;
    margin-bottom: 40px;
    

}

.botao_login{
    border: 200px;
    margin-top: 30px;
    margin-bottom: 15px;
    background-color: rgb(2, 36, 2);
    color: white;
    width: 450px;
    align-self: center; 
    border-radius: 16px; 
    font-size: 24px; 
    padding: 20px 0px; 
    text-decoration: none; 
}

.div{
    display: flex;
    flex-direction: column;
}

.redefinir_senha{
    text-decoration: none;
    color: white;
}

.area_dados{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    text-align: center;

}

.texto{
    width: 450px;
    padding: 5px 0px;
    margin: 20px 0;
    border: none;
    background: transparent;
    border-bottom: solid 1px white;
    outline: none;
    color: white;
}

::placeholder{
    color: white;
    font-size: 14pt;
    opacity: 0.5;
    font-family:'Quicksan';
}